* {
  margin: 0;
  padding: 0;
  --nav-height: 80px;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.middleware-height {
  height: calc(100vh - var(--nav-height));
}
