* {
  margin: 0;
  padding: 0;
  --nav-height: 80px;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.center {
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.space-between {
  justify-content: space-between;
}

.top-level-container {
  width: 70%;
}

.middleware-height {
  height: calc(100vh - var(--nav-height));
}
